@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

$box-background: hsl(0, 0%, 100%);
$body-bg: hsl(212, 45%, 89%);
$paragraph: hsl(220, 15%, 55%);
$main-header: hsl(218, 44%, 22%);

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background: $body-bg;
  font-family: "Outfit", sans-serif;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  max-width: 28.5rem;
  padding: 1.8rem;
  border: 0.1rem transparent solid;
  border-radius: 2rem;
  box-shadow: 0 1.5rem 2rem 0 hsla(219, 15%, 55%, 0.213);
  background: $box-background;
  text-align: center;
}

.box__image {
  width: 100%;
  border-radius: 1rem;
}

.box__header {
  font-size: 2.3rem;
  color: $main-header;
}

.box__paragraph {
  font-size: 1.55rem;
  color: $paragraph;
  line-height: 2rem;
  margin: 0 0 2rem 0;
  padding: 0 1.75rem;
}

.attribution {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  text-align: center;
}

.attribution a {
  color: hsl(216, 95%, 57%);
}

.attribution a:focus-visible {
  outline: 0.2rem dashed red;
}
